.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(https://imgs.search.brave.com/SWjEySF0kZpNhTBfraztf5053JRA5mk906CLOK6J8Sg/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS82OC8x/OC9lMWtqV2YuanBn);
    background-size: cover;
}

.registerTitle {
    color:white;
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0px;
    color: white;
    align-items: center;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerRegisterButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: gray;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #2196F3;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.registerFailedText {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}