.write {
    padding-top: 50px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm {
    position: relative;
    height: 30vh;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #777;
    cursor: pointer;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 20px;
}

.writeSubmit {
    position: absolute;
    left: 150px;
    color: white;
    background-color: #89b5f0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}